body {
    background-color: black;
    color: yellow;
}

h1 {
    text-align: center;
    font-size: 50pt;
    letter-spacing: 5pt;
    /* text-decoration: underline; */
}

.keyOC {
    text-align: center;
    font-size: 40pt;
    letter-spacing: 4pt;
}

.fsTitle {
    text-align: center;
    font-size: 30pt;
    letter-spacing: 1.5pt;
}

.ssTitle {
    text-align: center;
    font-size: 30pt;
    letter-spacing: 1.5pt;
}

.flatScales input[type=text] {
    width: 10%;
}

.sharpScales input[type=text] {
    width: 10%;
}

#keyboardImage {
    height: 200px;
    margin: 0 auto;
    /* border: 5px solid yellow; */
}

#circleImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 45%;
    /* margin: 0 auto; */
}

.pianoKeys {
    top: 0;
}

.whiteKeys {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
}

.blackKeys {
    width: 100%;
    position: absolute;
    top: 0;
}

.keyboardCol {
    position: relative;  
}

.keyboardContainer {
    width: 700px;
    height: 200px;
    position: absolute;
    top: 0;
}

.white {
    width: 51px;
    height: 200px;
    background-color: rgba(138, 43, 226, .5);
}

.black {
    width: 36px;
    height: 121px;
    background-color: rgba(127, 255, 0, .5);
    position: absolute;
    top: 0
}

#fifteen {
    left: 32px 
}
#sixteen { 
    left: 82px 
}
#seventeen { 
    left: 182px 
}
#eighteen {
    left: 232px 
}
#nineteen {
    left: 282px 
}
#twenty {
    left: 382px 
}
#twentyOne {
    left: 432px 
}
#twentyTwo {
    left: 532px 
}
#twentyThree {
    left: 582px 
}
#twentyFour {
    left: 632px 
}
