body {
    background-color: black;
    color: yellow;
}

h1 {
    text-align: center;
    font-size: 50pt;
    letter-spacing: 5pt;
    /* text-decoration: underline; */
}

.circle {
    width: 550px;
    height: 550px;
    /* background-color: chartreuse; */
    border-radius: 50%;
    border: 5px solid yellow;
    position: relative;
}

.circle .circle-letter {
    --rotation: 0;
    color: yellow;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    position: absolute;
    transform: rotate(var(--rotation));
}

.circle .letG { --rotation: 30deg; }
.circle .letD { --rotation: 60deg; }
.circle .letA { --rotation: 90deg; }
.circle .letE { --rotation: 120deg; }
.circle .letB { --rotation: 136deg; }
.circle .letCf { --rotation: 150deg; }
.circle .letFs { --rotation: 170deg; }
.circle .letGf { --rotation: 186deg; }
.circle .letCs { --rotation: 204deg; }
.circle .letDf { --rotation: 221deg; }
.circle .letAf { --rotation: 240deg; }
.circle .letEf { --rotation: 270deg; }
.circle .letBf { --rotation: 300deg; }
.circle .letF { --rotation: 330deg; }




.keyOC {
    text-align: center;
    font-size: 40pt;
    letter-spacing: 4pt;
}

.fsTitle {
    text-align: center;
    font-size: 30pt;
    letter-spacing: 1.5pt;
}

.ssTitle {
    text-align: center;
    font-size: 30pt;
    letter-spacing: 1.5pt;
}

.flatScales input[type=text] {
    width: 10%;
}

.sharpScales input[type=text] {
    width: 10%;
}

#keyboardImage {
    height: 200px;
    margin: 0 auto;
    /* border: 5px solid yellow; */
}

#circleImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 45%;
    /* margin: 0 auto; */
}

.pianoKeys {
    top: 0;
}

.whiteKeys {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
}

.blackKeys {
    width: 100%;
    position: absolute;
    top: 0;
}

.keyboardCol {
    position: relative;  
    min-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.keyboardContainer {
    width: 700px;
    height: 200px;
    position: absolute;
    top: 0;
}

.white {
    width: 51px;
    height: 200px;
    background-color: white;
}

.black {
    width: 36px;
    height: 121px;
    background-color: black;
    position: absolute;
    top: 0
}

#fifteen {
    left: 32px 
}
#sixteen { 
    left: 82px 
}
#seventeen { 
    left: 182px 
}
#eighteen {
    left: 232px 
}
#nineteen {
    left: 282px 
}
#twenty {
    left: 382px 
}
#twentyOne {
    left: 432px 
}
#twentyTwo {
    left: 532px 
}
#twentyThree {
    left: 582px 
}
#twentyFour {
    left: 632px 
}

